.linkedin-news
{
    border-radius: 14px;
    background-color: white;
    padding: 8px;
   margin-top: 10px;
   margin-bottom: 8px;
}
.linkedin-news li{
    list-style-type: circle;
    font-size: 20px;
}

.text-icon
{
    display: flex;
    padding: 0 14px;
    align-items: center;
    justify-content: space-between;
}   
.news-text
{
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    padding: 0px;
    font-weight: 500;

}
.time-text{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight:500;
    margin: 5px;
    color:  #6d5b5b;
}
.linkedin-news ul{
    margin: 0px;
}
.linkedin-news li
{
    font-size: 16px;
}
li:hover
{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}
.info-icon
{
    height: 20px;

}
#showMoreBtn
{

    background-color: white;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #7b7575;
    margin-left: 10px;
}
#showMoreBtn:hover{
    background-color: rgb(240, 240, 240);
}

.hidden
{
    display: none;
}
.fas {
    margin-left: 5px; 
}
.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding-top: 8px;
}
.footer p{
    margin: 0;
    font-size: 12px;
}
.add p{
    font-size: 14px;
    margin: 5px ;
}
.add-row
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;

}

.add-col img
{
    object-fit: cover;
    overflow: none;
    height: 70px;
}
.dot-icon
{
    height:17px;
}
.btn-try
{
    display: flex;
    justify-content: center;
}
.btn-try button
{
    border-radius: 30px;
    border: 1px solid navy;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    color: #3d3df2;

}