.linkedin-news
{
    border-radius: 14px;
    background-color: white;
    padding: 5px;
   margin-top: 10px;
}
.linkedin-news li{
    list-style-type: circle;
    font-size: 20px;
}

.text-icon
{
    display: flex;
    padding: 0 14px;
    align-items: center;
    justify-content: space-between;
}   

.linkedin-news p{
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;

}

.info-icon
{
    height: 20px;

}
.show-more{
    display: flex;
   align-items: center;
}
.show-more img{
    height: 20px;
}
.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding-top: 8px;
}
.footer p{
    margin: 0;
    font-size: 12px;
}
